<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask Jquery AJAX Drop Down Menu Example</title>
</head>
<body>
    <h1>Select Vehicle</h1>
    <form action="/" method="POST" >
        {{ form.hidden_tag() }}
        <ul>
            <li>Make: {{ form.make(id="make_select") }}</li>
            <li>Model: {{ form.model(id="model_select") }}</li>
        </ul>
        <button type="submit">Submit</button>
    </form>

    {% if chosen_make %}
        <h2>You selected:</h2>
        <ul>
            <li>Make ID: {{ chosen_make }}</li>
            <li>Model ID: {{ chosen_model }}</li>
        </ul>
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/assets/vehicle.js"></script>
</body>
</html>
